body{
    background-color: rgb(60,63,65);
}
#gameMap{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 36rem;
    height: 36rem;
}
.mapSquare{
    /*box-sizing: border-box;*/
    width: 3rem;
    height: 3rem;
    border: 1px white;
}