body{
    background-color: rgb(60,63,65);
}
#gameMap{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 36rem;
    height: 36rem;
}
#divThatGetsInventoryToTheLeftOfTheMap{
    display: flex;

}
#inventory{
    width: 10rem;
    height: 36rem;
}
.mapSquare{
    box-sizing: border-box;
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
}

.mapButton {
    display: none;
}

/*.ls-barrier{*/
/*    background-image: ;*/
/*}*/
/*.player{*/
/*    background-image: url("img/pixil-frame-0.png");*/
/*}*/
